<header>
  {% if current_page.id == "index" %}
    <div class="slideshow" style="position:relative; height: 100%">
      <div class="background-img" style="background-image: url('themes/angel/img/pythias.jpg');"></div>
      <div class="background-img" style="background-image: url('themes/angel/img/in-garden.jpg');"></div>
      <div class="background-img" style="background-image: url('themes/angel/img/antigone.jpg');"></div>
      <div class="background-img" style="background-image: url('themes/angel/img/ground-mural.jpg');"></div>
    </div>
    <button class="slideshow-arrow-left">←</button>
    <button class="slideshow-arrow-right">→</button>
    <style type="text/css">
      .slideshow .background-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity .25s;
      }
      .slideshow-arrow-left,
      .slideshow-arrow-right {
        position: absolute;
        bottom: 45%;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.15);
        color: white;
        cursor: pointer;
        padding: 20px;
        font-size: 20px;
      }

      .slideshow-arrow-left {
        left: 50px;
      }

      .slideshow-arrow-right {
        right: 50px;
      }
    </style>

    <script type="text/javascript">
      var index = 0;
      var autoAdvanceInterval = 4000;
      var isActive = true;
      var leftArrow = document.querySelector('.slideshow-arrow-left');
      var rightArrow = document.querySelector('.slideshow-arrow-right');
      var slides = document.querySelectorAll('.slideshow .background-img');

      var randomizeFirstSlide = function(){
        var chosen = Math.round(Math.random() * (slides.length - 1));
        if(chosen < slides.length - 1){
          var luckySlide = slides[chosen];
          var clone = luckySlide.cloneNode();
          luckySlide.parentElement.insertBefore(clone, null);
          luckySlide.parentElement.removeChild(luckySlide);
          slides = document.querySelectorAll('.slideshow .background-img');
        }
      };

      var advance = function(toIndex){
        if(toIndex >= slides.length) toIndex = 0;
        if(toIndex < 0) toIndex = slides.length + toIndex;
        if(toIndex > 0){
          for(var s = 0; s < slides.length; s++){
            slides[s].style.opacity = 1;
          }
          for(var x = slides.length - toIndex;  x < slides.length; x++){
            slides[x].style.opacity = 0;
          }
        } else if(toIndex == 0){
          slides[slides.length - 1].style.opacity = 1;
          setTimeout(function(){
            for(var x = slides.length - 2;  x > 0; x--){
              slides[x].style.opacity = 1;
            }
          });
        }
        index = toIndex;
      };

      leftArrow.addEventListener('click', function(e){
        isActive = false;
        advance(index - 1);
      });

      rightArrow.addEventListener('click', function(e){
        isActive = false;
        advance(index + 1);
      });

      var autoAdvance = function(){
        if(isActive){
          advance(index + 1);
          setTimeout(autoAdvance, autoAdvanceInterval);
        }
      };

      randomizeFirstSlide();
      setTimeout(autoAdvance, autoAdvanceInterval);

    </script>

  {% else %}
    <div class="background-img"></div>
  {% endif %}


  <h1 class="site-title">
    <a href="{{ base_url }}">
      <img class="site-logo" src="{{ theme_url }}/img/p-shadow.png">
      <span>{{ site_title }}</span>
    </a>
  </h1>

  {% if meta.head %}
  <div class="page-head-wrap">
    {% if meta.subhead %}
    <span class="page-subhead">{{ meta.subhead }}</span>
    {% endif %}
    <h1>{{ meta.head }}</h1>
    {% if meta.cta and meta.cta_link %}
    <a href="{{ meta.cta_link }}" class="cta-button">{{ meta.cta }}</a>
    {% endif %}
  </div>
  {% endif %}

  <nav>
    <a href="javascript:;" class="hamburger">
      <span class="top-bun"></span>
      <span class="meat"></span>
      <span class="bottom-bun"></span>
    </a>
    <ul class="nav-links">
      {% for page in pages|sort_by('time') if page.meta.nav_name %}
        <li{% if page.id == current_page.id %} class="active"{% endif %}>
          <a href="{% if page.meta.nav_link %}{{ page.meta.nav_link }}{% else %}{{ page.url }}{% endif %}">
            {{ page.meta.nav_name }}
          </a>

          {% if page.meta.template == 'has_subnav' %}
            <ul class="subnav">
            {% for p in pages if p.id starts with page.id|split('/')|first %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
            </ul>
          {% endif %}

        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
