<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  {% include "meta.twig" %}
  <link rel="stylesheet" href="{{ theme_url }}/css/main.css" type="text/css">
</head>
<body class="body-{{ current_page.id|replace('/','-') }}{% if meta.head %} has-page-head{% endif %}">
  {% block header %}
  {% include "header.twig" %}
  {% endblock %}

  {% block content %}
  <main class="content">
    {% if current_page.id starts with "calendar/" %}
      <h1>{{ meta.title }}</h1>
      <p>{{ meta.date|date('l, F jS, Y') }}<br>{{ meta.event_detail }}</p>
      {{ content }}
      <a href="/calendar">&larr; Back to calendar</a>
    {% else %}
      {{ content }}
    {% endif %}
  </main>
  {% endblock %}

  {% block footer %}
  {% include "footer.twig" %}
  {% endblock %}
</body>

{% block scripts %}
<script src="{{ theme_url }}/js/page.js"></script>
{% endblock %}
</html>
